// app global css in SCSS form

.border-bottom {
  border-bottom: 1px $separator-color solid;
}

.border-left {
  border-left: 1px $separator-color solid;
}

.border-right {
  border-right: 1px $separator-color solid;
}

.border-top {
  border-top: 1px $separator-color solid;
}

.pre-wrap {
  white-space: pre-wrap;
}

.dialog-width {
  width: 400px;

  body.screen--xs & {
    width: 90vw;
  }
}
